<launch>
  <arg name="map_server" default="true"/>
  <arg name="test" default="true"/>
  <param name="n_agents" value="1"/>
  <param name="n_pois" value="1"/>
  <param name="n_neighbors" value="0"/>

  <!-- Run the map server -->
  <group if="$(arg map_server)">
    <arg name="map_file" default="$(find path_planning)/map2.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  </group>

  <!-- Run the EEPP node -->
  <node name="EEPP" pkg="path_planning" type="EEPP_node" output="screen"/>

  <!-- Run the Testing node-->
  <group if="$(arg test)">
    <node name="Tester" pkg="path_planning" type="testing_node" output="screen"/>
  </group>

</launch>
