<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find path_planning/mymap.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run the EEPP node -->
  <node name="EEPP_node" pkg="path_planning" type="path_planning"/>

</launch>
